<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Episodes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Episodes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="4" *ngFor="let ep of Episodes">
        <ion-card [routerLink]="['/episodes', ep.id]" >
          <ion-card-header>
            <ion-card-subtitle>{{ ep.air_date }}</ion-card-subtitle>
            <ion-card-title class="title">{{ ep.name }}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            {{ ep.episode }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
