<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ Location.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Dimension: {{ Location.dimension }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Type: {{ Location.type }}
    </ion-label>
  </ion-item>
  <h2 class="title-chars">Residents: {{ Residents.length }}</h2>
  <ion-item>
    <ion-label class="characters">
      <ion-avatar class="char" *ngFor="let res of Residents">
        <img [routerLink]="['/characters', res.id]" [src]="res.image" alt="">
      </ion-avatar>
    </ion-label>
  </ion-item>
</ion-content>
