<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ Character.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
      <ion-avatar>
        <img [src]="Character.image" alt="">
      </ion-avatar>
    </ion-col>
    <ion-col size="12" size-sm="6" size-md="8" size-lg="9">
      <h2>{{ Character.name }}</h2>
      <ion-item>
        <ion-label>
          Status: {{ Character.status }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Species: {{ Character.species }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span>Gender:</span> {{ Character.gender }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Origin: <span class="span-hover" *ngIf="originId; else unknown" [routerLink]="['/locations', originId ]" >{{ Character.origin?.name }}</span>
          <ng-template #unknown>Unknown</ng-template>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Location: <span class="span-hover" *ngIf="locationId; else unknown" [routerLink]="['/locations', locationId ]" >{{ Character.location?.name }}</span>
          <ng-template #unknown>Unknown</ng-template>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <h2>Episodes where appears: {{Episodes.length}}</h2>
  <ion-row class="episodes">
    <ion-col size="12" size-md="6" size-lg="4" *ngFor="let ep of Episodes">
      <ion-card [routerLink]="['/episodes', ep.id]">
        <ion-card-header>
          <ion-card-subtitle>{{ ep.air_date }}</ion-card-subtitle>
          <ion-card-title class="title">{{ ep.name }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ ep.episode }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
