ion-avatar {
    width: 100%;
    height: 100%;
}

.episodes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.span-hover{
    cursor: pointer;
}

@font-face {
    font-family: 'rym';
    src: url('../../../assets/get-schwifty.ttf') format('truetype');
}

.title{
    font-family: 'rym';
}